.register-form{
    margin: 100px 0;
    padding: 30px;
    max-width: 550px;
    background-color: #fff;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.499);
    border-radius: 10px;
}

.register-title{
    font-size: 26px;
    margin-bottom: 20px;
}

.register-form input:focus{
    outline: 0;
}

.register-form input{
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border: 1px solid #ded7d7;
    border-radius: 10px;
}

.register-btn{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #ffd32a;
    border: 0;
    border-radius: 10px;
}

.register-btn:hover{
    background-color: #d6af12;
    color: #fff;
}

@media screen and (max-width: 480px){
    .register-form{
        margin: 50px 50px;
        padding: 20px;
        max-width: 380px;
    }
}